<header>
    <nav class="navbar">
      <h2 class="logo"><a href="#">KCT College Hostel</a></h2>
      <input type="checkbox" id="menu-toggler">
      <label for="menu-toggler" id="hamburger-btn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="24px" height="24px">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M3 18h18v-2H3v2zm0-5h18V11H3v2zm0-7v2h18V6H3z"/>
        </svg>
      </label>
      <ul class="all-links">
        <li><a href="home">Home</a></li>
        <li><a href="#portfolio">Profile</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>
  </header>
  <br/>
  <br/>
  <br/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css" integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- <div class="containers">
    <button type="submit" class="btns" (click)="openPopup()">Submit</button> 
  </div> -->
  <div class="container">
  <div class="row">
      <div class="col-xl-8">
          <div class="card" style="padding-right: 11px;top: 19px;">
              <div style="height:15rem;" class="card-body pb-0">
                  <div class="row align-items-center">
                      <div class="col-md-3">
                          <div class="text-center border-end">
                              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid avatar-xxl rounded-circle" alt="">
                              <h4 class="text-primary font-size-20 mt-3 mb-2">{{studentName}}</h4>
                              <h5 class="text-muted font-size-13 mb-0">{{department}}</h5>
                          </div>
                      </div><!-- end col -->
                      <div class="col-md-9">
                          <div class="ms-3">
                              <div>
                                  <h4 class="card-title mb-2">{{studentName}}</h4>
                                  <!-- <p class="mb-0 text-muted">Hi I'm Jansh,has been the industry's standard
                                      dummy text To an English person alteration text.</p> -->
                              </div>
                              <div class="row my-4">
                                  <div class="col-md-12">
                                      <div>
                                          <p class="text-muted mb-2 fw-medium"><i class="mdi mdi-email-outline me-2"></i>{{studentEmail}}
                                          </p>
                                          <p class="text-muted fw-medium mb-0"><i class="mdi mdi-phone-in-talk-outline me-2"></i>{{mobileNumber}}
                                          </p>
                                      </div>
                                  </div><!-- end col -->
                              </div><!-- end row -->
                           
                              <ul class="nav nav-tabs nav-tabs-custom border-bottom-0 mt-3 nav-justfied" role="tablist">
                                  <li class="nav-item" role="presentation">
                                      <a class="nav-link px-4 active" (click)="showOutpassTable($event)" target="__blank">
                                          <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                          <span class="d-none d-sm-block">OutPass</span>
                                      </a>
                                  </li><!-- end li -->
                                  <li class="nav-item" role="presentation">
                                      <a class="nav-link px-4 " (click)="showmaintainenceTable($event)"  target="__blank">
                                          <span class="d-block d-sm-none"><i class="mdi mdi-menu-open"></i></span>
                                          <span class="d-none d-sm-block">Maintainance</span>
                                      </a>
                                  </li><!-- end li -->
                                  <li class="nav-item" role="presentation">
                                      <a class="nav-link px-4 " (click)="showFeedbackTable($event)" data-bs-toggle="tab" role="tab" aria-selected="true">
                                          <span class="d-block d-sm-none"><i class="mdi mdi-account-group-outline"></i></span>
                                          <span class="d-none d-sm-block">FeedBack</span>
                                      </a>
                                  </li><!-- end li -->
                                  <li class="nav-item" role="presentation">
                                    <a class="nav-link px-4" (click)="showComplaintsTable($event)" data-bs-toggle="tab" role="tab" aria-selected="true">
                                        <span class="d-block d-sm-none"><i class="mdi mdi-account-group-outline"></i></span>
                                        <span class="d-none d-sm-block">Complaints</span>
                                    </a>
                                </li><!-- end li -->
                              </ul><!-- end ul -->
                          </div>
                      </div><!-- end col -->
                  </div><!-- end row -->
              </div><!-- end card body -->
          </div><!-- end card -->
  
          <div class="card">
              <div class="tab-content p-4">
        <!-- Here Comes the List-->
        <div *ngIf="outpassTable">
            <table>
                <!-- <caption>Statement Summary</caption> -->
                <thead>
                  <tr>
                    <th scope="col" class="table-head">Purpose of leave</th>
                    <th scope="col"class="table-head">Submitted Date</th>
                    <th scope="col"class="table-head">From/To</th>
                    <th scope="col"class="table-head">Status</th>
                    <th scope="col"class="table-head"></th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of studentOutpasses">
                    <td class="text" >{{item.purposeofleave}}</td>
                    <td class="text" >{{item.submitteddate}}</td>
                    <td class="text" >{{item.fromdate}} - {{item.todate}}</td>
                    <td class="text" >{{item.status}}</td>
                    <td class="text"><button class="btn btn-primary" (click)="viewoupass(item.id)" >View Details</button></td>
                  </tr>
                </tbody>
              </table>
              <div style="display: flex;justify-content:center;" *ngIf="studentOutpasses.length==0">
                <h1 >No Records Found.</h1>
            </div>
            <!-- <div *ngIf="showOutpassDialog"> -->

            
            <div class="parent-dialogue" id="parent-dialogue">
              <div class="popup" id="popup" style="z-index: 99;top:22rem;">
                <div>
                <img src="img/tick.png" alt="">
                <h2>OutPass Details</h2>
                <br>
                <div *ngIf="singleOutpass!=null"></div>
                <h4>Purpose of Leave : {{singleOutpass.purposeofleave}}</h4>
                <h4>Submitted Date : {{singleOutpass.submitteddate}}</h4>
                <h4>From Date : {{singleOutpass.fromdate}}</h4>
                <h4>To Date : {{singleOutpass.todate}}</h4>
                <h4>Arrival Time : {{singleOutpass.timeofarrival}}</h4>
                <h4>Departure Time : {{singleOutpass.timeofdeparture}}</h4>
                <button type="button" (click)="closePopup()">OK</button>
              </div>
              </div>
            </div>
          </div>
        <!-- </div> -->
        <div *ngIf="maintainenceTable">
            <table>
                <!-- <caption>Statement Summary</caption> -->
                <thead>
                  <tr>
                    <th scope="col" class="table-head">Title</th>
                    <th scope="col"class="table-head">Issue Type</th>
                    <th scope="col"class="table-head">Issue Description</th>
                    <th scope="col"class="table-head">Status</th>
                    <th scope="col"class="table-head"></th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr >
                  <tr  *ngFor="let element of studentMaintainance">
                    <td class="text">{{element.title}}</td>
                    <td class="text">{{element.issueType}}</td>
                    <td class="text">{{element.issueDesc}}</td>
                    <td class="text">{{element.status}}</td>
                    <td class="text"><button class="btn btn-primary" (click)="viewStudentMaintain(element.id)" >View Details</button></td>
                  </tr>
                </tbody>
              </table>
              <div style="display: flex;justify-content:center;" *ngIf="studentMaintainance.length==0">
                  <h1 >No Records Found.</h1>
              </div>
              <div class="parent-dialogue" id="parent-dialogue">
                <div class="popup" id="popup" style="z-index: 99;top:22rem;">
                  <div>
                  <img src="img/tick.png" alt="">
                  <h2>Maintainance Details</h2>
                  <br>
                  <div *ngIf="singleStudentMaintain.createdDate!=null"></div>
                  <h4>Title : {{singleStudentMaintain.title}}</h4>
                  <h4>Status : {{singleStudentMaintain.status}}</h4>
                  <h4>Issue Type : {{singleStudentMaintain.issueType}}</h4>
                  <h4>Issue Description : {{singleStudentMaintain.issueDesc}}</h4>
                  <h4>Submitted Date : {{singleStudentMaintain.createdDate}}</h4>
                  <button type="button" (click)="closePopup()">OK</button>
                </div>
                </div>
              </div>
        </div>
        <div *ngIf="feedbackTable">
            <table>
                <!-- <caption>Statement Summary</caption> -->
                <thead>
                  <tr>
                    <!-- <th scope="col" class="table-head">Title</th> -->
                    <th scope="col"class="table-head">Date</th>
                    <th scope="col"class="table-head">Message</th>
                    <th scope="col"class="table-head"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let element of studendsFeedbacks">
                    <td class="text">{{element.createdDate}}</td>
                    <td class="text">{{element.message}}</td>
                    <!-- <td class="text">$1,190</td> -->
                    <td class="text"><button class="btn btn-primary" (click)="viewStudentFeedback(element.id)">View Details</button></td>
                  </tr>
                  <!-- <tr>
                    <td scope="row" class="text">Visa - 6076</td>
                    <td class="text">03/01/2016</td>
                    <td class="text">$2,443</td>
                    <td class="text"><button class="btn btn-primary">View Details</button></td>
                  </tr> -->
                </tbody>
              </table>
              <div style="display: flex;justify-content:center;" *ngIf="studentComplaints.length==0">
                <h1 >No Records Found.</h1>
            </div>
            <div class="parent-dialogue" id="parent-dialogue">
              <div class="popup" id="popup" style="z-index: 99;top:22rem;">
                <div>
                <img src="img/tick.png" alt="">
                <h2>Feedback Details</h2>
                <br>
                <div *ngIf="singleStudentMaintain"></div>
                <h4>Created Date : {{singleFeedback.date}}</h4>
                <h4>Feed : {{singleFeedback.message}}</h4>
                <button type="button" (click)="closePopup()">OK</button>
              </div>
              </div>
            </div>
        </div>
        <div *ngIf="complaintsTable">
            <table>
                <!-- <caption>Statement Summary</caption> -->
                <!-- <thead> -->
                  <tr>
                    <th scope="col" class="table-head">Nature of Complaints</th>
                    <th scope="col"class="table-head">Requested Date</th>
                    <th scope="col"class="table-head">Additional Complaints</th>
                    <th scope="col"class="table-head">Status</th>
                    <th scope="col"class="table-head"></th>

                  </tr>
                <!-- </thead> -->
                <!-- <tbody> -->
                  <tr *ngFor = "let element of studentComplaints">
                    <td class="text">{{element.natureOfComplaint}}</td>
                    <td class="text">{{element.date}}</td>
                    <td class="text">{{element.additionalComment}}</td>
                    <td class="text">{{element.status}}</td>
                    <td class="text"><button class="btn btn-primary" (click)="viewStudentComplaint(element.id)" >View Details</button></td>
                  </tr>
                  <!-- <tr>
                    <td scope="row" class="text">Visa - 6076</td>
                    <td class="text">03/01/2016</td>
                    <td class="text">$2,443</td>
                    <td class="text">02/01/2016 - 02/29/2016</td>
                    <td class="text"><button class="btn btn-primary">View Details</button></td>
                  </tr> -->
                    <!-- </tbody> -->
                  </table>
                  <div style="display: flex;justify-content:center;" *ngIf="studentComplaints.length==0">
                    <h1 >No Records Found.</h1>
                </div>
                <div class="parent-dialogue" id="parent-dialogue">
                  <div class="popup" id="popup" style="z-index: 99;top:22rem;">
                    <div>
                    <img src="img/tick.png" alt="">
                    <h2>Complaint Details</h2>
                    <br>
                    <div *ngIf="singleComplaint"></div>
                    <h4>Nature Of Complaint : {{singleComplaint.natureOfComplaint}}</h4>
                    <h4>Submitted Date : {{singleComplaint.date}}</h4>
                    <h4>Addtional Comment : {{singleComplaint.additionalComment}}</h4>
                    <h4>Status : {{singleComplaint.status}}</h4>


                    <button type="button" (click)="closePopup()">OK</button>
                  </div>
                  </div>
                </div>
                </div>          
              </div>
          </div><!-- end card -->
      </div><!-- end col -->
  
      <div class="col-xl-4">
          <div class="card">
            </div>
  
          <div class="card">
              <div class="card-body">
                  <div>
                      <h4 class="card-title mb-4">Personal Details</h4>
                      <div class="table-responsive">
                          <table class="table table-bordered mb-0">
                              <tbody>
                                  <tr>
                                      <th scope="row">Name</th>
                                      <td>{{studentName}}</td>
                                  </tr><!-- end tr -->
                                  <tr>
                                      <th scope="row">Place</th>
                                      <td>{{address}}</td>
                                  </tr><!-- end tr -->
                                  <tr>
                                      <th scope="row">Department</th>
                                      <td>{{department}}</td>
                                  </tr><!-- end tr -->
                                  <tr>
                                      <th scope="row">Roll No</th>
                                      <td>{{rollNo}}</td>
                                  </tr><!-- end tr -->
                              </tbody><!-- end tbody -->
                          </table><!-- end table -->
                      </div>
                  </div>
              </div><!-- end card body -->
          </div><!-- end card -->
      </div><!-- end col -->
  </div>
  </div>